@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

body{
    font-family:'Dosis', Calibri, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}


h1{
    letter-spacing: 0.2em;
    font-weight: bold;
    
}

header{
    font-family: "";
    text-align: center;
    line-height:0%;
    
}

h2{
    font-weight: bold;
    margin: 0;
    padding: 10px;
    background-color: darkslategrey;
    color: blanchedalmond;
}

.destacar{
    color:mediumseagreen;
    font-weight: bold;

}

.lista_resalta{
    font-weight: bold;
    font-style: italic;
}

dt{
    margin: 10px;
}

footer{
    background-color: darkslategray;
    color: blanchedalmond;
    font-weight: bold;
    text-align: center;

}

.icono{
    width: 20px;
    height: 20px;
}
   