
h1{
    letter-spacing: 0.2em;
    font-weight: bold;
}

header{
    text-align: center;
    line-height:0%;
}

h2{
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

.destacar{
    color:mediumseagreen;
    font-weight: bold;

}

.lista_resalta{
    font-weight: bold;
    font-style: italic;
}

dt{
    margin-top: 20px;
}